<header>
  <h1 style="font-style:italic" style="color:rgb(212, 173, 0)">Divino's Futsal</h1>
  <nav> 
    <a href='/home' style="color:rgb(212, 173, 0)">Home</a>
    <a href='/Fiel Torcedor' style="color:rgb(212, 173, 0)">Divina Torcida</a>
    <h2> <img src ="{{logo}}" width="90" height="90"/></h2>
    <a href='http://localhost:55815/' style="color:rgb(212, 173, 0)">Loja do Clube</a>
    <a href='/Proximos jogos' style="color:rgb(212, 173, 0)">Próximos jogos</a>
    <a href='/Login' style="color:rgb(212, 173, 0)">Login <img src ="{{logi}}" width="30" height="30" hspace="5"/></a>
  </nav>
</header>

<div class="Corpo">
   <p><a href='/Twitter' style="color:rgb(255, 255, 255)">Twitter <img src ="{{twitter}}" width="30" height="30" hspace="5"/></a></p>
   <p><a href='/Instagram' style="color:rgb(255, 255, 255)">Instagram <img src ="{{insta}}" width="30" height="30" hspace="5"/></a></p>
   <p><a href='/Youtube' style="color:rgb(255, 255, 255)">Youtube <img src ="{{youtube}}" width="30" height="30" hspace="5"/></a></p>
   <p><a href='/Sala de Troféus' style="color:rgb(255, 255, 255)">Sala de Troféus <img src ="{{trofeu}}" width="30" height="30" hspace="5"/></a></p>
   <p><a href='/Elenco' style="color:rgb(255, 255, 255)">Elenco <img src ="{{bola}}" width="30" height="30" hspace="5"/></a></p>
</div>

<footer>
    <h3  style="color:rgb(212, 173, 0)"> Divino's Futsal ¢ 2023 - Todos os direitos reservados - 
    <a href="Politica de Dados" style="color:rgb(212, 173, 0)"> &nbsp; Politica de Dados </a>
    </h3>
    <div>
    <a href='/Quem Somos' style="color:rgb(212, 173, 0)" > <br> <br> Quem Somos &nbsp;</a><a href='Contato' style="color:rgb(212, 173, 0)"> &nbsp;&nbsp; <br> <br> Contato</a>
    <h4><img src= "{{design}}" width="80" height="80"/></h4>
    </div>
</footer>

